.carrousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsLeft {
    position: absolute;
    left: 0;
    top: 50%;
    cursor: pointer;
    z-index: 1;
}
.iconsRight {
    position: absolute;
    right: 0;
    top: 50%;
    cursor: pointer;
    z-index: 1;
}
.imgHover {
    width: 100%;
    max-width: 400px;
    height: auto;
    transition: all .5s ease-in-out;
    opacity: 0.5;
    
}
.imgHover:hover {

    transition: all .5s ease-in-out;
    opacity: 1;
}

@media screen and (max-width:600px) {
    .carrousel-container {
        height: 400px;
    }


    
}
