.Navbar {
    
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--secondary);
    top: 0;
    width: 100vw;
    z-index: 1;
    height: 60px;
    padding: 0;
    animation: .5s navbar 0.5s ease-in-out;
}
.NavbarUl {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: flex-end;   
    
}

.NavbarUl a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: .9rem;
    font-weight: bolder;
}
.NavbarUl a:hover {
    transition: .2s all ease-in-out;
    color: aquamarine;
}
@keyframes navbar {
    0%{
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    }
}