.Navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--secondary);
    border-bottom: 1px solid #e5e5e5;
    width: 100vw;
    z-index: 1;
    height: 60px;
    padding: 0;
}
.NavbarUl {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;   
    
}
.NavbarUl a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bolder;
}