
.Navbar {
  position: sticky;
  background-color: var(--secondary);
  top: 0;
  width: 100vw;
  z-index: 1;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  animation: 0.5s navbar 0.5s ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
input[type="checkbox"] {
  display: none;
}

.Navbar label {
  display: none;
}
/* .logo {
    margin-right: 50px;
} */
.NavbarUl {
  display: flex;
  list-style: none;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  
}

.NavbarUl a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  margin: 10px;
  font-weight: bolder;
}
.NavbarUl a:hover {
  transition: 0.2s all ease-in-out;
  color: aquamarine;
}

@keyframes navbar {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 600px) {
  .Navbar {
    padding: 0;
  }
  .menu {
    width: 100%;
    height: 0px;
    overflow: hidden;
    background-color: var(--secondary);
    transition: all .5s ease-in-out;
  }
  .NavbarUl {
    flex-direction: column;
    align-items: center;
  }
  .Navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  input[type="checkbox"]:checked ~ .menu {
    transition: all .5s ease-in-out;
    height: 200px;
    z-index: 1;
    
  }

}
