
.body-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    
    
}

.body-container section p{
    color: white;
    font-size: 1.6rem;
    
}

.not-visible {
    padding-top: 10px;
    opacity: 0;
    transition: all .7s ease-in-out;
    
}

.visible {
    animation: .5s ease-out 0s 1 slideInFromRight forwards;
}


.goToTop {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    cursor: pointer;
    padding: 15px;
}

.openModal {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    padding: 15px;
    
    border: 1px solid rgb(254, 41, 86);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;

}
.openModal:hover{
    transition: all 0.2s ease-in-out;
    background-color: rgba(254, 41, 87, 0.141);
}
.title {
    display: flex;
    font-size: 3rem;
    color: white;  
    padding-top: 60px;
    
}

.title::after {
    height: 1px;
    width: 100px;
    content: "";
    background-color: rgb(254, 41, 86);
    margin: auto;
    margin-left: 10px;
}
.logo-container {
    display: flex;
    justify-content: space-around;
}
.page {
    position: relative;
    height: 100vh;
}
.general-container {
    position: absolute;
    width: 100%;
}
.loader {
    background: var(--primary);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    animation: loader 2s linear forwards;

    
}
.loader div {
    
    
    width: 60px;
    height: 60px;
    margin: 10px;
    
    border-radius: 20px;
    animation: scaling 2s ease-in-out infinite;
    transform: scale(0);

}
.loader div:nth-child(1) {
    animation-delay: .2s;
}

.tech {
    width: 50%;
}
.experience-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    opacity: 0;
    
}

  
  @keyframes slideInFromRight {
    0% {
        opacity: 0;
      transform: translateX(50%);
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes scaling {
    0%{
        transform: rotate(0deg);
        border-left:5px solid red;

    }
    25% {
        border-top: 5px solid red;
        transform: rotate(30deg);
    }
    50% {
        border-right: 5px solid red;
        transform: rotate(0deg);
        
    }
    75% {
        border-bottom: 5px solid red;
        transform: rotate(-30deg);
        
    }
    100% {
        border: 0px solid red;
        transform: rotate(0deg);
    }
    
}

@media screen and (max-width:600px) {

    .experience-container {
        flex-direction: column;
        
    }
    .tech {
        width: 100%;
    }
    .openModal {
        padding: 0;
        padding-right: 20px;
        border: none;
    }
    .goToTop {
        padding: 0;
    }
}