.main-container {
    display: flex;
    margin-top: 50px;
}
.left-container {
    color: white;
    font-size: 1.6rem;
    margin: 100px;
    width: 50%;
}
.side-container {

}
.img-wrapper {
    width:400px;
    height:400px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;

}
.no-margin {
    margin: 0;
}
.image {
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}