
.body-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    
    
}

.body-container section p{
    color: white;
    font-size: 1.6rem;
    
}
.project-container {
    margin-top: 50px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    opacity: 0;
    transition: all .7s ease-in-out;
    
}
.not-visible {
    padding-top: 10px;
    opacity: 0;
    transition: all .7s ease-in-out;
    margin-bottom: 300px;
}

.visible {
    /* opacity: 1; */
    animation: 1s ease-out 0s 1 slideInFromRight forwards;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 600px;

}
.project-info p {
    margin: 0;
}
.project-info h2 {
    color: white;
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.project-image {
    width: 450px;
    height: 450px;
    /* background-color: #fff; */
}
.about-me {
    
    width: 100%;
    height: 400px;
    font-size: 1.6rem;
    color: white;
    display: flex;
    flex-direction: column;
    
}
.about-me p {
    margin: 100px;
    
}

.goToTop {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    cursor: pointer;
    padding: 15px;
}

.openModal {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    padding: 15px;
    border: 1px solid rgb(254, 41, 86);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;

}
.openModal:hover{
    transition: all 0.2s ease-in-out;
    background-color: rgba(254, 41, 87, 0.141);
    /* color: white; */
}


.title {
    display: flex;
    font-size: 3rem;
    color: white;  
    
}

.title::after {
    /* display: block; */
    height: 1px;
    width: 100px;
    content: "";
    background-color: rgb(254, 41, 86);
    /* border-color: white; */
    margin: auto;
    margin-left: 10px;
    /* border-style: dotted; */
}
.logo-container {
    display: flex;
    justify-content: space-around;
}
.page {
    position: relative;
    height: 100vh;
}
.general-container {
    position: absolute;
}
.loader {
    background: var(--primary);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    animation: loader 5s linear forwards;

    
}
.loader div {
    
    /* background-color: white; */
    width: 60px;
    height: 60px;
    margin: 10px;
    /* border: 1px solid red; */
    border-radius: 20px;
    animation: scaling 2s ease-in-out infinite;
    transform: scale(0);

}
.loader div:nth-child(1) {
    animation-delay: .2s;
}
/* .loader div:nth-child(2) {
    animation-delay: .4s;
}
.loader div:nth-child(3) {
    animation-delay: .6s;
} */
  
  @keyframes slideInFromRight {
    0% {
        opacity: 0;
      transform: translateX(50%);
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes scaling {
    0%{
        transform: rotate(0deg);
        border-left:5px solid red;

    }
    25% {
        border-top: 5px solid red;
        transform: rotate(30deg);
    }
    50% {
        border-right: 5px solid red;
        transform: rotate(0deg);
        
    }
    75% {
        border-bottom: 5px solid red;
        transform: rotate(-30deg);
        
    }
    100% {
        border: 0px solid red;
        transform: rotate(0deg);
    }
    
}