:root {
  --primary : #212121;
  --primary-light : #0B192E;
  --secondary : #212121;
  --secondary-light : #303030;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}
html {
  background-color: var(--primary);
  scroll-behavior: smooth; 
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
