:root {
  --primary : #121F3D;
  --primary-light : #192b54c3;
  --secondary : #192a53;
  --secondary-light : #2a427ac3;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}
html {
  background-color: var(--primary);
  scroll-behavior: smooth; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
